<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Renewal_Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f3ddb1">  <td>21/10/01 11:38:08</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:contactProcessing.Add_Document_History@42dafa95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>21/10/01 11:38:09</td>   <td>284</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:contactProcessing.Add_Document_History@42dafa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>21/10/01 11:38:12</td>   <td>3534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_Document_History.beforeMethod()[pri:0, instance:contactProcessing.Add_Document_History@42dafa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>21/10/01 11:38:16</td>   <td>7418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_Document_History.add_Document_History()[pri:0, instance:contactProcessing.Add_Document_History@42dafa95]">add_Document_History</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>21/10/01 11:39:01</td>   <td>52595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_Document_History.afterMethod()[pri:0, instance:contactProcessing.Add_Document_History@42dafa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>21/10/01 11:39:02</td>   <td>53698</td> <td title="&lt;&lt;TestBase.afterSuite()[pri:0, instance:contactProcessing.Add_Document_History@42dafa95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
