<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a487af">  <td>22/01/07 11:37:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_Claim_Reserve.add_Claim_Reserve()[pri:0, instance:basicProcessing.Add_Claim_Reserve@2df9b86]">add_Claim_Reserve</td> 
  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>22/01/07 11:38:59</td>   <td>59865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Add_Claim_Reserve.afterMethod()[pri:0, instance:basicProcessing.Add_Claim_Reserve@2df9b86]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="7babf5">  <td>22/01/07 11:38:59</td>   <td>59968</td> <td title="&lt;&lt;TestBase.afterSuite()[pri:0, instance:basicProcessing.Add_Claim_Reserve@2df9b86]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>22/01/07 11:37:56</td>   <td>-2557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Add_Claim_Reserve.beforeMethod()[pri:0, instance:basicProcessing.Add_Claim_Reserve@2df9b86]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="7babf5">  <td>22/01/07 11:37:53</td>   <td>-6100</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:basicProcessing.Add_Claim_Reserve@2df9b86]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
<tr bgcolor="7babf5">  <td>22/01/07 11:37:53</td>   <td>-5853</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:basicProcessing.Add_Claim_Reserve@2df9b86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@637241618</td>   <td></td> </tr>
</table>
