<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>IHQ_Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaf0a4">  <td>21/01/28 09:42:12</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:tests.Verify_Renewal_Policy_Data@14bf9759]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>21/01/28 09:42:12</td>   <td>392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:tests.Verify_Renewal_Policy_Data@14bf9759]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>21/01/28 09:42:16</td>   <td>4070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Verify_Renewal_Policy_Data.beforeMethod()[pri:0, instance:tests.Verify_Renewal_Policy_Data@14bf9759]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>21/01/28 09:42:21</td>   <td>9484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Verify_Renewal_Policy_Data.verify_Renewal_Policy_Data()[pri:0, instance:tests.Verify_Renewal_Policy_Data@14bf9759]">verify_Renewal_Policy_Data</td> 
  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>21/01/28 09:42:42</td>   <td>30512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Verify_Renewal_Policy_Data.afterMethod()[pri:0, instance:tests.Verify_Renewal_Policy_Data@14bf9759]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>21/01/28 09:42:42</td>   <td>30603</td> <td title="&lt;&lt;TestBase.afterSuite()[pri:0, instance:tests.Verify_Renewal_Policy_Data@14bf9759]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1447689627</td>   <td></td> </tr>
</table>
